<script>
  import { getContext } from "svelte";
  import { lineRadial, curveCardinalClosed } from 'd3-shape';
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
  import { curveCatmullRomOpen } from "d3-shape";

  export let data = []
  export let city
  let year
  $: year = scaleLinear()
    .domain([1,365 +1 ])
    .range([0, 2+ Math.PI])

  // learning source for this code + Radar.svelte: https://observablehq.com/@d3/d3-lineradial

  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const radarWidth = innerWidth/4
  
  // scale for both?
  $: radarScale = scaleLinear()
    .domain([0,149000]) // using the max from heating
    .range([0,70])

  let radarCool
  $: radarCool = lineRadial()
    .angle(d => year(d.day_of_year))
    .radius(d => radarScale(d.cooling))
    .curve(curveCatmullRomOpen)
    .defined(d => d.cooling > 0)
  let coolingPoints
  $:coolingPoints=radarCool(data)

  let radarHeat
  $: radarHeat = lineRadial()
    .angle(d => year(d.day_of_year))
    .radius(d => radarScale(d.heating))
    .curve(curveCatmullRomOpen)
    .defined(d => d.heating > 0)
  let heatingPoints 
  $: heatingPoints=radarHeat(data)

</script>

<g transform="translate({ margin.left }, { margin.top })">

<circle stroke= "#c8c8c8" fill="#efefef" cx=90 cy=-100 r=70> <!--alter these to your liking-->
</circle>
<text x=55 y=-210>{city}</text> 

    <g transform="translate({margin.left+80}, {margin.top-110})">
      <path d={coolingPoints} fill="blue" stroke="#0248bd" fill-opacity="0.3"></path>
      <path d={heatingPoints} fill="red" stroke="#ff4042" fill-opacity="0.3"></path>
    
    </g>
  


</g>