<script>
    export let data = {}
    export let day_width;
    export let yScale;
    export let xScale;

</script>

{#each Object.keys(data) as day_nr, day_idx}
            <g transform="translate({day_idx*day_width}, 0)">
                {#each data[day_nr] as hour, idx}
                  <circle cx={xScale(idx)} cy={yScale(hour)} r=3 />
                  {/each}
              </g>
          {/each}