<script>
  import Building from './Building.svelte';
  import { extent } from 'd3-array';
  import { line, curveStep, scaleLinear, timeParse, scaleTime, path, lineRadial, curveNatural } from 'd3';  
  
  let day_width = 30;
  let build_height = 40;

    // Size and margins
    const width = 900;                  // these are defining the workspace - use them to have your graph fit inside
    const height = 800;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    //let datapoints = []
   // fetch("./src/routes/final_project/designs/hourly_heating_december.json")
   //   .then(res => res.json()) //result, get json part back
    //  .then(data => datapoints = data) // take that recieved part and save it as a data
  
    // $: console.log(datapoints)
    
    //let transformed_data ={} 
   //$:{
      //datapoints.forEach((d) => {
    //      if ( !(d.buildingtype in transformed_data)) {
     //       transformed_data[d.buildingtype] = {}
      //    }
      //    if ( !(d.day in transformed_data[d.buildingtype])) {  
       //     transformed_data[d.buildingtype][d.day] = []
       //   }
        //  transformed_data[d.buildingtype][d.day].push(d.total_heating_energy)    
  
     // })
   // }
    // $: console.log(transformed_data) 

    // $: xScale = scaleLinear().domain([1,24]).range([0,day_width])

    

    // $: console.log(extent([5,4,17,69]))
    // $: console.log(extent(datapoints.map((d) => d.total_heating_energy))) // 0-3769.21 = min and max of t_h_e (go to build_height instead of 3769)

    $: xScale = scaleLinear().domain([1,24]).range([0,day_width])
    $: yScale = scaleLinear().domain([0,3770]).range([0,40])
  
    //$: line_gener = line()
    //   .curve(curveNatural)
    //   .x((d) => xScale(idx))
   //    .y((d) => yScale(hour)); // IPV <circle, tried a path {line gener} > .. didn't work 9/05 14h57


  </script>
  
    
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!--  -->
    </g>
  </svg>
 
 
  
  
  <style>
    svg {
      border: 2px solid black;
      border-radius: 5px;
    }
  </style>
  


