<script>
  import { json } from 'd3-fetch';
  import { onMount } from 'svelte';
  //import { LayerCake, Svg } from 'layercake';
  // import { scaleLinear } from 'd3-scale';

  //import AxisRadial from './AxisRadial.svelte';
  import Radar from './_design_2_Radar.svelte';

  // 2. chart dimensions 

  // Size and margins
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const radarWidth = innerWidth/3;

  // load in DAta
  let data=[];

  onMount(async() => {
    data = await json("./data/daily_heating_cooling.json").then((data) => data);    
  });

  $: console.log(data);

  let location = ["Chicago", "Baltimore", "Los Angeles"]

  function dataByCity(data, city){
    return data.filter(d => d.city == city);
  }


</script>

<div> 

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text class="title" x={width/2} y={height - 280}>Monthly Energy Use for Heating and Cooling Within a Year</text>
    <!--  -->
    {#each location as city, location_idx}
    <g transform="translate({193*location_idx}, {innerHeight})">
      <Radar data={dataByCity(data, city)} {city} />
      <text x=95 y=-170>0</text>
      <text x=180 y=-80>3</text> 
      <text x=95 y=0>6</text>
      <text x=15 y=-80>9</text>
  </g>
  {/each}
  </g>
</svg>

</div>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: black;
    text-anchor: middle;
  }
  
</style>