<script>
  let clicked = false;
</script>

<div>
  <button type="button" class="btn btn-primary btn-lg btn-block" on:click={() => (clicked = true)}>
    click here
  </button> 
  <br>
  {#if clicked} 
    You have clicked the button!
  {:else}
    You have to click the button!
  {/if}
</div>
