<script>
    const student = { name: 'Rachel Stiner', fav_thing1: 'music', fav_thing2: 'dancing', fav_thing3: 'reading'}
</script>

<p> My name is {student.name} and these are some of my favorite things: {student.fav_thing1}, {student.fav_thing2}, and {student.fav_thing3}.</p>
