<script> 
function calcCircumference(radius) {
    return 2 * Math.PI * radius;
}

var output4 = calcCircumference(10);

var output4_2 = output4.toFixed(2);

const radius = 10
</script>

<p> The circumference of a sphere with radius {radius}m is {output4_2}m.
</p>
