<script>
    let count = 0
</script>

<!--- first button: counts how many times it's been clicked -->
<button on:click={() => count = 0 }>reset</button >
<!--- second button: reset the counter- ... use bootstrap to style -->
<button on:click={() => count += 1}>Count clicks: {count} </button>


<!--- should add some stylizing-->

<style>
    button { 
        color:darkgoldenrod
    }
</style>
