<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";

  //opaque
  let opacity = 0.3;

  // with circle selected
  let currentCircleIndex = index - 1

  // start the function 
  const intervalId = setInterval(circleManipulator, 1000);

  // stop function
  function stopInterval() {clearInterval(intervalId);}

  // Index function 
  function circleManipulator() {
    if (currentCircleIndex == -1) {stopInterval();}

    currentCircleIndex--;}

    $: color = currentCircleIndex == -2 ? "darkgreen" : color;
  
</script>

<!-- remember that code in the script of a component is evaluated only when the component is constructed -->
<!-- Code in the HTML markup is evaluated any time a variable that is mentioned within the curly braces changes -->

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as dp, i}
    <circle
    cx={dp}
    cy={innerHeight / 2}
    r="10"
    fill={color}
    opacity={i > currentCircleIndex ? 1 : opacity} />
    {/each}
  </g>
</svg>
